.example {
  padding: 27px 0 31px;
  background-color: $main-bg;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $basic-white;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 462px;
      background: $dark-bg;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background-color: $main-bg;
    }
  }
}

.example__container {
  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 1fr min-content min-content;
    grid-column-gap: 140px;
  }
}

.example__title {
  margin: 0 0 33px;
  font-family: $secondary-font-family;
  color: $main-title-color;
}

.example__text {
  margin: 0 0 25px;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 70px;
  }
}

.example__results-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    display: block;
  }
}

.example__results {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__result {
  width: calc(50% - 16px);

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 42px;
  }
}

.example__result-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: $main-title-color;
}

.example__result-note {
  display: block;
  width: 87px;
  margin: -5px auto 0;
  padding: 0 5px;
  background-color: $main-bg;
  text-align: center;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $main-bg;
  }
}

.example__result-total {
  margin: 0 0 42px;
  font-family: $secondary-font-family;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $main-title-color;

  @media (min-width: $tablet-width) {
    max-width: 175px;
    text-align: right;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    text-align: left;
  }
}

.example__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    align-self: flex-end;
  }
}

.example__img {
  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 702px;
    margin: 0 auto;
  }
}
