.footer {
  background-color: $main-bg;

  &--white {
    background-color: $basic-white;
  }
}

.footer__main {
  padding: 37px 0 0;
  background-color: $main-bg;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
  }
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo-link {
  display: inline-block;
  margin: 0 auto 28px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__logo-link[href] {
  transition: $base-transition;

  @media (min-width: $desktop-width) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__logo-img {
  display: block;
  width: 128px;
}

.footer__socials {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
    padding-left: 30px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  font-size: 16px;
  color: currentColor;
  line-height: 18px;
  text-decoration: none;
  transition: $base-transition;

  @media (min-width: $desktop-width) {
    &:hover {
      .footer__creator-logo {
        color: $main-brand-color;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__creator-logo {
  display: flex;
  width: 27px;
  height: 34px;
  transition: color 0.5s ease;
  color: #666666;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}
