.footer {
  background-color: $main-bg;

  &--white {
    background-color: $basic-white;
  }
}

.footer__main {
  padding: 32px 0 0;
  background-color: $main-bg;
  text-align: center;
}

.footer__logo-link {
  display: inline-block;
  margin: 0 auto 32px;
}

.footer__logo-img {
  display: block;
  width: 128px;
}

.footer__socials {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  font-size: 16px;
  color: currentColor;
  line-height: 18px;
  text-decoration: none;
}

.footer__creator-logo {
  display: flex;
  width: 27px;
  height: 34px;
}
