.goal-card {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 24px 20px 22px;
  background-color: $main-bg;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(3, min-content);
    align-items: center;
    padding: 77px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr;
    grid-column-gap: 62px;
    min-height: 100%;
    padding: 57px 55px 57px 52px;
  }
}

.goal-card__title {
  margin: 0 0 29px;
  padding-top: 6px;
  font-family: $secondary-font-family;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  color: $main-title-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 10px;
  }
}

.goal-card__description {
  grid-column: 1/-1;
  padding: 0 0 23px;
  margin: 0 0 19px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding: 0 10px 23px 0;
    margin: 0 0 28px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    padding: 41px 0 0;
    margin-bottom: 25px;
  }

  &--sm {
    @media (min-width: $tablet-width) {
      padding-right: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }
}

.goal-card__link {
  position: relative;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-title-color;
  transition: $base-transition;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }

  svg {
    display: block;
    width: 26px;
    height: 12px;
    margin-left: 15px;
    transition: $base-transition;

    @media (min-width: $tablet-width) {
      margin-left: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover {
      svg {
        width: 30px;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.goal-card__icon {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background: $main-brand-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-top: -10px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.goal-card__icon-svg {
  position: absolute;
  display: block;

  &--cat {
    left: 7px;
    bottom: 3px;
    width: 36px;
    height: 50px;

    @media (min-width: $tablet-width) {
      left: 30px;
      bottom: 18px;
      width: 140px;
      height: 192px;
    }

    @media (min-width: $desktop-width) {
      left: 16px;
      bottom: 9px;
      width: 70px;
      height: 97px;
    }
  }

  &--leopard {
    bottom: 11px;
    left: -10px;
    width: 67px;
    height: 28px;

    @media (min-width: $tablet-width) {
      bottom: 43px;
      left: -33px;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      bottom: 25px;
      left: -19px;
      width: 134px;
      height: 56px;
    }
  }
}
