.logo {
  //todo
}

.logo__link {
  display: flex;
  align-items: center;
  padding-right: 12px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.logo__link[href] {
  transition: $base-transition;

  @media (min-width: $desktop-width) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.logo__img {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__text-img {
  display: block;
  width: 101px;
  height: 18px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
