.logo {
  //todo
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__img {
  display: block;
  width: 34px;
  height: 38px;
}

.logo__text-img {
  display: block;
  width: 101px;
  height: 18px;
}
