.logo {
  //todo
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__img {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 52px;
    margin-right: 15px;
  }
}

.logo__text-img {
  display: block;
  width: 101px;
  height: 18px;
}
