.page-catalog {
  padding: 27px 0 35px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 188px 0 85px;
  }
}

.page-catalog__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}
