.page-program {
  padding: 27px 0 32px;
}

.page-program__title {
  margin-bottom: 37px;
}

.page-program__lead {
  max-width: 230px;
  margin: 0 0 17px;
  font-family: $secondary-font-family;
  text-transform: uppercase;
  color: $main-title-color;
}
