.slider-controls {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 570px;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
    margin-left: auto;
  }
}

.slider-controls__label {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-title-color;
  background-color: transparent;
  border: 0;
  transition: $base-transition;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba($basic-black, 0.24);
  }

  @media (min-width: $desktop-width) {
    &:hover {
      border-bottom: 1px dotted rgba($basic-black, 0.4);
    }

    &:active {
      border-bottom: 1px dotted transparent;
    }
  }
}

.slider-controls__toggle-wrap {
  position: relative;
  width: 83px;
  height: 14px;
  margin: 0 18px;
  background-color: $basic-white;
  border: 1px solid $special-grey;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-grow: 1;
    margin: 0 24px;
    height: 6px;
    background-color: #dcdcdc;
  }
}

.slider-controls__toggle {
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 6px;
  display: block;
  transition: $base-transition;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 6px;
    background: $main-brand-color;
    border-radius: 6px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    background: $basic-white;
    border: 1px solid $special-grey;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border: 1px solid $main-brand-color;
    }
  }
}
