.socials {
  //todo
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials__item {
  margin: 0 16px;
}

.socials__link {
  display: block;
}

.socials__icon {
  display: block;
}
