.work-description {
  //todo
}

.work-description__title {
  margin: 0 0 38px;
  font-family: $secondary-font-family;
  color: $main-title-color;
}

.work-description__list {
  list-style: none;
  padding: 0;
  margin: 0 0 42px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 153px;
    grid-row-gap: 90px;
    counter-reset: works;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 77px;
  }
}

.work-description__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin: 0;
    counter-increment: works;
  }

  @media (min-width: $desktop-width) {
    min-height: 280px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(works);
      position: absolute;
      right: 0;
      top: -0.15em;
      z-index: -1;
      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 280px;
      text-align: center;
      color: $basic-grey;
    }
  }

  &::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $main-brand-color;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &:first-of-type {
    &::before {
      background-image: url("../img/icons/icon_leaf.svg");
      background-size: 30px 32px;
    }
  }

  &:nth-of-type(2) {
    &::before {
      background-image: url("../img/icons/icon_tub.svg");
      background-size: 29px 31px;
    }
  }

  &:nth-of-type(3) {
    &::before {
      background-image: url("../img/icons/icon_eat.svg");
      background-size: 25px 30px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;

    &::before {
      background-image: url("../img/icons/icon_alarm.svg");
      background-size: 32px 33px;
    }
  }
}
